# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log*

# IDE
/.idea/

# ignore css
src/css/*

yarn-error.log

.awcache
template/src/__tests__/__snapshots__/

.vscode
